:root {
    --st-fg-color: #222;
    --st-bg-color: #e3c18F;
    --st-bg-secondary:  #B3915F;
    --st-bg-text: #fffce3; 
}
body {
	background-image: url("/staribacher-static/images/staribacher_hintergrund_final.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 400;
	color: var(--st-fg-color);
    background: var(--st-bg-color) ;
}

body * {
	font-family: 'Alegreya Sans', sans-serif;
}

.bg-body-tertiary {
	--bs-bg-opacity: 0!important;
}


.times-new-roman * {
    font-family: "Times New Roman", serif !important;
  }
  .courier-new {
    font-family: "Courier New", monospace !important;
  }
  
  .arial-serif * {
    font-family: "Arial", serif !important;
  }
  
  .font-size-26 * {
    font-size: 26px !important;
  }
  
  .font-size-22 * {
    font-size: 22px !important;
  }
  
  .font-size-18 * {
    font-size: 18px !important;
  }
  
  .font-size-14 * {
    font-size: 14px !important;
  }


#myTable {
	background-color:rgba(255, 255, 255, 0);
         --bs-bg-opacity: 0!important;
}



#myTable * {
	background-color:rgba(255, 255, 255, 0);
         --bs-bg-opacity: 0;
}


.tabulator-header-filter{
	background-color:rgba(255, 255, 255, 1)!important;
	--bs-bg-opacity: 1!important;
}

.ais-SearchBox-input {
    background-color:rgba(255, 255, 255, 1)!important;
    --bs-bg-opacity: 1!important;
}

nav {
	height: 50px;
	border-bottom: 1px solid var(--st-bg-secondary);
    background-color:  var(--st-bg-secondary);
}

.dropdown-menu {
	background: rgba(176, 88, 3, 0.45) none repeat scroll 0% 0%;
}

.dropdown-menu a:hover{
    background-color: var(--st-fg-color);
    color:  var(--st-bg-secondary);
}

#viewer {
    position: sticky;
    top: 10%;
    padding: 2em;
    padding-top: 0rem;
    padding-bottom: 2em;
    /* max-width: 60vw; */
    margin-left: auto;
    /* max-height: 900px; */
}

.col-md-6.col-lg-6.col-sm-12.text {
	background: var(--st-bg-text) ;
	max-width: 35vw;
	font-family: "Courier New";
}

.col-md-6.col-lg-6.col-sm-12.text *{
	font-family: "Courier New";
}


.osd-container {
	height: 80vh!important;
}

.strikethrough {
    text-decoration: line-through;
}


.subst-add {
    color: #88dbdf;
}

.subst-del {
    color:chartreuse;
}

.add-zeichen {
    color: black;
    vertical-align: super;
    font-size: x-small;
    font-weight: bold;

}

.cor-zeichen {
    color: black;
    vertical-align: super;
    font-size: x-small;
    font-weight: bold;

}

.sic-zeichen {
    color: black;
    text-decoration: line-through;
}

.scrolltext {
    overflow-y: scroll;
    height:80vh;
    width:35vw;
    padding-right:20px;
    padding-top:10px;
    text-align: justify;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

footer {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 400;
	color: var(--st-fg-color);
    background: var(--st-bg-color) ;
}

footer * {
	font-family: 'Alegreya Sans', sans-serif;
}