#viewer {
    position: sticky;
    top: 10%;
    padding: 2em;
    padding-top: 0rem;
    padding-bottom: 2em;
    /* max-width: 60vw; */
    margin-left: auto;
    /* max-height: 900px; */
}


.osd-container {
	height: 80vh!important;
}