:root {
    --st-fg-color: #222;
    --st-bg-color: #e3c18F;
    --st-bg-secondary:  #B3915F;
    --st-bg-color2: rgba(176, 88, 3, 1);
    --st-bg-color2-shadow: rgba(106, 18, 0, 1);
    --st-bg-text: #fffcf3;
    --ed-font-size: 14px;
}
body {
	/* background-image: url("/images/staribacher_hintergrund_final.jpg"); */
	background-image: url("/staribacher-static/images/staribacher_hintergrund_final.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    min-height: 137vh;
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 1.2em;
	line-height: 1.6;
	font-weight: 400;
	color: var(--st-fg-color);
    background-color: var(--st-bg-color) ;
}

body * {
	font-family: 'Alegreya Sans', sans-serif;
}

.bg-body-tertiary {
	opacity: 1!important;
}


.times-new-roman * {
    font-family: "Times New Roman", serif !important;
  }
  .courier-new {
    font-family: "Courier New", monospace !important;
  }
  
  .arial-serif * {
    font-family: "Arial", serif !important;
  }
  
  .font-size-26 * {
    font-size: 26px !important;
    --ed-font-size: 26px!important ; 
  }
  
  .font-size-22 * {
    font-size: 22px !important;
    --ed-font-size: 22px!important ;
  }
  
  .font-size-18 * {
    font-size: 18px !important;
    --ed-font-size: 18px!important ;
  }
  
  .font-size-14 * {
    font-size: 14px !important;
    --ed-font-size: 14px!important ;
  }

  .table {
	background-color: var(--st-bg-color)!important ;
	opacity: 0.95!important ;
	font-size: 1.1rem!important;
	font-weight: 560;
}

  .table * {
	  	font-size: 1.1rem!important;
	font-weight: 560;
	line-height: 1.6;
}


  .tabulator.table:not(.thead-light) .tabulator-header, .tabulator.table:not(.thead-light) .tabulator-header .tabulator-col {
    border-top: 0!important ;
	border-bottom: 0.1em solid var(--st-bg-color2)!important;
	background-color: var(--st-bg-color)!important;
	opacity: .95!important;
	font-size: 1.1em!important;
    font-weight: 560;

}



.tabulator {
	font-size: 1.1rem!important;
	font-weight: 560;
	opacity: .95!important;
}


.tabulator-row .tabulator-cell {
	--rem: 16;
	font-family: 'Alegreya Sans', sans-serif;
font-size: 1em!important;
font-weight: 570!important;
padding: .5rem .5rem!important;
line-height: 1.6!important;
opacity: .95!important;
}


.tabulator-headers {
    background-color: var(--st-bg-color)!important ;
    opacity: .95!important;
    font-size: 1rem!important;
}



.tabulator-col {
    background-color: var(--st-bg-color)!important ;
    opacity: .95!important;
    border-bottom: 1pt solid var(--st-bg-color2)!important;
}

.tabulator-row {
    background-color: var(--st-bg-color)!important ;
    opacity: .95!important;
    padding: 0!important ;
    border-bottom: 1pt solid var(--st-bg-color2)!important;
}

td {
    background-color: var(--st-bg-color)!important;
    border-bottom: 1pt solid var(--st-bg-color2)!important;
}

th {
    background-color: var(--st-bg-color)!important;
    border-bottom: 1pt solid var(--st-bg-color2)!important;
}

.tabulator-header-filter * {
	background-color: rgba(255, 255, 255)!important; 
    
}

.ais-SearchBox-input {
    background-color:rgba(255, 255, 255)!important;
}

.navbar.navbar-expand-lg {
    z-index: 99 ;
    padding: 0;
    opacity: 1!important;
    border: 1rem solid var(--st-bg-color2);
    background-color:  solid var(--st-bg-color2)!important;
}


.dropdown-menu {
	background: var(--st-bg-color2) none repeat scroll 0% 0%;
}

div.container-fluid:nth-child(1) {
	background: var(--st-bg-color2) none repeat scroll 0% 0%;
}

.dropdown-menu a:hover{
    background-color: var(--st-fg-color);
    color:  var(--st-bg-secondary);
}

#viewer {
    position: sticky;
    top: 10%;
    padding: 2em;
    padding-top: 0rem;
    padding-bottom: 2em;
    /* max-width: 60vw; */
    margin-left: auto;
    /* max-height: 900px; */
}

.col-md-4 {
    padding: 4rem ;
    max-width: 30rem;
}

.col-md-2 {
    padding: 4rem ;
    max-width: 25% ;
}


.col-md-8 {
    padding: 4rem ;
    max-width: 50% ;
}


.col-md-6.col-lg-6.col-sm-12.text {
	resize: horizontal;
	font-size: var(--ed-font-size) ;
	padding-left: calc(6*var(--ed-font-size)) ;
	padding-top: calc(2*var(--ed-font-size)) ;
	padding-bottom: calc(35*var(--ed-font-size)) ;
	padding-right: calc(2*var(--ed-font-size)) ;
	opacity: 0.95!important ;
	background-color: var(--st-bg-text) ;
	width: calc(55 * var(--ed-font-size))  ;
	font-family: "Courier New" ; 
}

.col-md-6.col-lg-6.col-sm-12.text * {
	font-size: var(--ed-font-size) ;
	font-family: "Courier New" ; 
}


.hline:after {
	width:100%;
	content: "";
	display: inline-block ; 
	border-bottom: 0.1rem solid #888 ;
}

.date {
	text-decoration: underline;
}

.pb {
	font-family: "Times New-Roman"!important ;
	text-align:right;
	font-weight: bold ;
	display: block ; 

}
.osd-container {
	height: 80vh!important;
}
.container {
width: 100% ;
padding: .2rem;
    background-color: var(--st-bg-color);
    opacity: .95!important;
    padding: 0.2rem;
    padding-top: 1rem ;
    padding-bottom: 1rem ;
    border-bottom-left-radius: 1em ; 
    border-bottom-right-radius: 1em ; 

}

.container .metatext {
	padding-left: 2rem ;
	padding-right: 2rem ;
}

.container h1 {
	padding-left: 2rem ;
	padding-right: 2rem ;
255 }

}
.strikethrough {
    text-decoration: line-through;
}


.subst-add {
    color: #88dbdf;
}

.subst-del {
    color:chartreuse;
}

.add-zeichen {
    color: black;
    vertical-align: super;
    font-size: x-small;
    font-weight: bold;

}

.cor-zeichen {
    color: black;
    vertical-align: super;
    font-size: x-small;
    font-weight: bold;

}

.sic-zeichen {
    color: black;
    text-decoration: line-through;
}

.scrolltext {
    overflow-y: scroll;
    height:80vh;
    width:35vw;
    padding-right:2rem;
    padding-top:1rem;
    text-align: justify;
}


.ais-Hits-item {
	background-color: var(--st-bg-color)!important ;
	opacity: 0.95!important ;
	border: 2pt solid var(--st-bg-color2)!important;
	border-radius: 1em ;
	box-shadow: 0 0.2rem 0.5rem 0px var(--st-bg-color2-shadow)!important;
}

.ais-RangeSlider .rheostat-progress {
	background-color: var(--st-bg-color2)!important;
}

footer {
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 0.75em;
	line-height: 0.8em;
	font-weight: 300;
	color: var(--st-fg-color);
    	background: var(--st-bg-color) ;
    	opacity: 1;
}

.col-lg-1.col-md-2.col-sm-2.col-xs-6 {
	padding-top: 0;
	padding-bottom: 1em;
}

.col-lg-3.col-md-4.col-sm-4 {
	padding-top: 0 ;
	padding-bottom: 1em; 
}

.col-lg-2.col-md-2.col-xs-6 {
	padding-top: 0 ;
	padding-bottom: 1em;
}

.col-lg-2.col-md-3.col-sm-3 {
	padding-top: 0 ;
	padding-bottom: 1em;
}

a {
    color: var(--st-bg-color2)

}


@media screen and (max-width: 639px) {
	.facsimiles {
		visibility: hidden;
		padding: 0;
		max-height: 0;
	}

	.facsimiles * {
		visibility: hidden;
		position: static;
		padding: 0;
		max-height: 0;
	}
}
