:root {
    --st-fg-color: #222;
    --st-bg-color: #e3c18F;
    --st-bg-secondary:  #B3915F;
    --st-bg-color2: rgba(176, 88, 3, 1);
    --st-bg-text: #fffcf3;
}

#hits {
    padding: 1em 0;
}

a {
	color: var(--st-bg-color2);
}

.hideme{
    display: none;
}

.ais-Hits-item, 
.ais-InfiniteHits-item, 
.ais-InfiniteResults-item, 
.ais-Results-item {
    width: 100%;
}

.ais-Stats,
.ais-Hits,
.ais-RefinementList {
    color: var(--st-fg-color);
}

.ais-SearchBox-form {
    display: flex;
}

#stats-container, 
#searchbox, 
#current-refinements, 
#clear-refinements {
    padding: 1em 0 .5em 0;
}

#clear-refinements {
	display: flex;
	justify-content: center;
}

#refinement-list-persons {
    padding: 1em .5em 2em .5em;
    border-radius: .10rem;
}

#refinement-range-year {
    padding: 1em .5em 1em .5em;
    border-radius: .10rem;
}

.col-md-4 h4 {
    text-align: center;
    margin-top: 1em;
}

.ais-Hits-item {
    background-color: var(--bv-main-bg-color);
}

.page-link {
    color: #000;
}

/* overwriting default colors of pagination */
li.ais-Pagination-item.page-item > a {
    background-color: var(--st-bg-color);
	border-color: var(--st-bg-secondary);
}

ul .ais-Pagination-item--selected .ais-Pagination-link {
    background-color: var(--st-bg-color2)!important;
    border-color: var(--st-bg-color2) !important;
}

ul .ais-Pagination-item .ais-Pagination-link:hover {
    background-color: var(--st-bg-color2) !important;
    border-color: var(--st-bg-color2) !important;
    color: #fff !important;
}

/* change color of filters */
.ais-CurrentRefinements-item {
	margin-right: .3rem;
	margin-top: .3rem;
	padding: .3rem .5rem;
	display: flex;
	background-color: var(--st-bg-color2);
	border-radius: 5px;
}

/* change button color */
.btn {
    color: #000;
  &:hover {
    color: #fff;
  }
}

.ais-ClearRefinements-button.btn,
.ais-RefinementList-showMore.btn {
	background-color: var(--st-bg-color);
	color: #000;
  &:hover {
    color: #fff;
    background-color: var(--st-bg-color2);
  }
}

.ais-RefinementList-label span {
    margin-left: .5em;
    text-align: left;
}

.ais-RefinementList-list {
    overflow:auto;
	height: 19em;
}

.ais-RefinementList-labelText {
    max-width: 290px;
    overflow: hidden;
    text-align: right;
}

.badge {
    max-width: 100%;
    overflow: hidden;
}

.ais-RangeSlider .rheostat-progress {
	background-color: var(--st-bg-color2)!important;
}

.ais-RangeSlider .rheostat-tooltip {
	color: var(--st-fg-color);
	min-width: 100px;
}