:root {
    --st-bg-color2: rgba(176, 88, 3, 1);
}

#hits {
    padding: 1em 0;
}

.hideme{
    display: none;
}

.ais-Hits-item, 
.ais-InfiniteHits-item, 
.ais-InfiniteResults-item, 
.ais-Results-item {
    width: 100%;
}

.ais-SearchBox-form {
    display: flex;
}

#stats-container, 
#searchbox, 
#current-refinements, 
#clear-refinements, 
#range-input {
    padding: 1em 0 .5em 0;
}
#refinement-list-persons,
#refinement-list-doc-title {
    padding: 1em .5em 2em .5em;
    -webkit-box-shadow: -14px 21px 24px -28px rgba(156,156,156,1);
    -moz-box-shadow: -14px 21px 24px -28px rgba(156,156,156,1);
    box-shadow: -14px 21px 24px -28px rgba(156,156,156,1);
    background-color: var(--bv-main-bg-color);
    border-radius: .10rem;

}

#refinement-list-doc-type,
#refinement-list-doc-material,
#refinement-range-year {
    padding: 1em .5em 1em .5em;
    background-color: var(--bv-main-bg-color);
    border-radius: .10rem;
}

.col-md-4 h4 {
    text-align: center;
    margin-top: 1em;
}

.ais-Hits-item {
    background-color: var(--bv-main-bg-color);
}

.page-link {
    color: #000;
}

/* overwriting default colors */
li.ais-Pagination-item.page-item > a {
    background-color: var(--bv-main-bg-color);
}

ul .ais-Pagination-item--selected .ais-Pagination-link {
    background-color: var(--st-bg-color2)!important;
    border-color: var(--st-bg-color2) !important;
}

ul .ais-Pagination-item .ais-Pagination-link:hover {
    background-color: var(--st-bg-color2) !important;
    border-color: var(--st-bg-color2) !important;
    color: #fff !important;
}

.form-control {
	background-color: var(--bv-main-bg-color);
}


.form-control:focus {
    color: #212529;
    background-color: var(--bv-main-bg-color);
    border-color: #86b7fe;
    outline: 0;
    border: 0.02rem solid var(--bv-big-highlight);
}

/* change color of filters */
.ais-CurrentRefinements-item {
	margin-right: .3rem;
	margin-top: .3rem;
	padding: .3rem .5rem;
	display: flex;
	background-color: var(--bv-big-highlight);
	border-radius: 5px;
}

.ais-CurrentRefinements-label.badge {
	background-color: var(--st-bg-color2);
}

.ais-CurrentRefinements-categoryLabel {
	padding-top: 2px;
	color:var(--st-bg-color2);
}

/* change button collor */
.ais-RangeInput-submit:hover, .ais-RangeInput-submit:focus {
	background-color: var(--bv-small-highlight);
}

.btn {
    background-color: var(--bv-darker-lightgray);
    border-color: var(--bv-darker-lightgray);
    color: #000;
}

.btn:hover {
    color: #fff;
    background-color: var(--bv-small-highlight);
}

.ais-RefinementList-label span {
    margin-left: .5em;
    text-align: left;
}

.badge {
    max-width: 100%;
    overflow: hidden;
}

.ais-RefinementList-labelText {
    max-width: 290px;
    overflow: hidden;
    text-align: right;
}